<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seanmkelley.callout" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ui.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClubMasterList"
            android:label="@string/title_activity_club_master_list"
            android:parentActivityName="ui.StudentActivity" >
            <intent-filter>
                <action android:name="ClubMasterList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites"
            android:parentActivityName="ui.StudentActivity" >
            <intent-filter>
                <action android:name="Favorites" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName="ui.StudentActivity" >
            <intent-filter>
                <action android:name="Calendar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalDetails"
            android:label="@string/title_activity_personal_details"
            android:parentActivityName="ui.StudentActivity" >
            <intent-filter>
                <action android:name="PersonalDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClubPage"
            android:label="@string/title_activity_club_page"
            android:parentActivityName="ui.StudentActivity" >
            <intent-filter>
                <action android:name="ClubPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.ClubActivity"
            android:label="@string/title_activity_club"
            android:parentActivityName="ui.ClubSignIn" >
            <intent-filter>
                <action android:name="ClubActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.StudentActivity"
            android:label="@string/title_activity_student"
            android:parentActivityName="ui.MyActivity" >
            <intent-filter>
                <action android:name="StudentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.ClubSignIn"
            android:label="@string/title_activity_club_sign_in"
            android:parentActivityName="ui.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.MyActivity" />
        </activity>
        <activity
            android:name=".ClubClubView"
            android:label="@string/title_activity_club_club_view"
            android:parentActivityName="ui.ClubActivity" >
            <intent-filter>
                <action android:name="ClubClubView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddClub"
            android:label="@string/title_activity_add_club"
            android:parentActivityName="ui.ClubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.ClubActivity" />
        </activity>
    </application>

</manifest>
